
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-box {
    width: 320px;
    padding: 30px;
    border-radius: 12px;

    
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(15px);


    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}


.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    outline: none;
    background: rgba(255, 255, 255, 0.9);
}


.login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;

    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}



.login-box button:hover {

    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.03);
    color: aqua;
}



.login-box p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: whitesmoke;
}

.login-box a {
    color: white;
    text-decoration: underline;
}

/* Fade animation */
body {
    animation: fadeIn 0.6s ease;
}

.fade-out {
    animation: fadeOut 0.6s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.forgot {
    text-align: right;
    margin-top: 5px;
}

.forgot a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    opacity: 0.85;
}

.forgot a:hover {
    text-decoration: underline;
    opacity: 1;
}


